@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Yanone+Kaffeesatz&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    background-color:  #10232a;
}

nav a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
    font: bolder;
}

nav a:hover{
    color: rgba(196, 166, 0, 0.996) !important;
}

li{
    list-style: none;
}

section{
    align-items: center;
    justify-content: center;
    display: flex;
    background: #10232a;
    min-height: 100vh;
    align-items: center;
}

nav{
    background-color: #10232a;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 5px 80px rgba(1, 1, 1, 0.5);
}

.footer{
    background-color: #10232a;
    position: relative;
    width: 100%;
    display: flex;
    padding: 0 85px;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    box-shadow: 0 5px 80px  rgba(1, 1, 1, 0.5);
}

nav a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 16px;
}

nav .logo h2{
    pointer-events: none;
    color: #988f88;
}

nav ul{
    display: flex;
    gap: 40px;
}

nav button{
    color: #a79e9c;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #a79e9c;
    transition: 0.3s ease;
}

nav button:hover{
    color: #10232a;
    background-color: #d3c3b9;
}

.toggle_btn:hover{
    color: rgba(196, 166, 0, 0.996);
}

#home{
    padding: 50px;
    gap: 5%;
}
.main{
    background: #162f39;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;
    justify-content: space-between;
    width: 90%;
    border-radius: 10px;
    border: 2px solid transparent;
}
h5{
    background-color: #162f39;
}

.main h3, span{
    background-color: #162f39;
    margin-top: 10px;
    font-weight: bold;
    font-size: 40px;
}

.main h3 .wd{
    color: #b58863;
}

.main h3 .app{
    color: rgb(91, 0, 203);
}

.active{
    color: rgba(196, 166, 0, 0.996);
}

.hire:active{
    scale: 0.96;
}

.mail {
    list-style: none;
    text-decoration: none;
    font-size: medium;
    color: #ffcc00;
}

.footer p{
    color: #fff;
}

.page_img{
    right: 10%;
    width: 300px;
}
#links{
    position: absolute;
    display: none;
    width: 0;
    transition: 0.3s linear;
    cursor: pointer;
}

#links i{
    font: bolder;
    font-size: 20px;
    right: 8%;
}

#links.open{
    margin-left: 70%;
    display: block;
    width: 100px;
    font-size: 20px;
}

.languages{
    position: relative;
    z-index: 1;
    margin-top: 50px;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    margin-bottom: 25vh;
}

.languages .item{
    background: #162f39;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 300px;
    gap: 2em;
    padding: 0 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.headings{
    font-size: 35px;
    color: #fff;
    position: absolute;
    margin-bottom: 70vh;
    left: 8%;
    gap: 2em;
    flex-direction: column;
}

.headings h2{
    color: #b58863;
}

.heading2{
    font-size: 35px;
    color: #fff;
    position: absolute;
    margin-top: 6em;
    left: 8%;
    flex-direction: column;
}

.heading3{
    font-size: 35px;
    color: #fff;
    position: absolute;
    flex-direction: column;
    margin-top: 20em;
    left: 8%;
}

.languages .info, .languages .icon{
    font-size: 35px;
    color: #fff;
}
.languages i, .languages h4{
    background: #162f39;
}

.languages .item:hover, .programming_lang .lang:hover, .oth .git:hover{
    border-bottom-color: #fff;
}

.languages .item, .languages h4, .languages .icon{
    border: 6px solid transparent;
    background-color: #162f39;
}

.languages i, .programming_lang i, .oth i{
    height: 40px;
    width: 40px;
    background: #988f88;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tailwind h4{
    font-size: 25px;
}

#html i{
    color: #ffc400;
}

#css i{
    color: yellow;
}

#tailwind i{
    color: aqua;
}
.programming_lang{
    padding: 0 50px;
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
    gap: 24px;
    margin-top: 65vh;
    justify-content: left;
}

.programming_lang .lang{
    background: #162f39;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 300px;
    gap: 2em;
    padding: 0 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 25px;
    color: #fff;
}

.oth .git{
    background: #162f39;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 300px;
    gap: 2em;
    padding: 0 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 25px;
    color: #fff;
}

.programming_lang .lang, .programming_lang h4, .programming_lang .icon{
    border: 6px solid transparent;
    background-color: #162f39;
}

.oth{
    padding: 0 50px;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    top: 29em;
    right: 35em;
}

.oth .git, .oth h4, .oth .icon{
    border: 6px solid transparent;
    background-color: #162f39;
}


#js i{
    color: gold;
}

#py i{
    color: rgb(0, 119, 255);
}

.git i{
    color: orange;
}

#about{
    padding: 80px;
}

#about h2{
    color: #fff;
    font-size: 40px;
    display: inline;
    flex-direction: row;
    position: absolute;
    left: 8%;
    top: 230vh;
}

#about p{
    left: 8%;
    margin-top: 18%;
    color: #fff;
    font-weight: 100;
    padding: 80px;
    width: 90%;
    font-size: 25px;
    border: 1px solid transparent;
    background-color: #162f39;
    border-radius: 10px;
}

#gig{
    padding: 80px;
}

.work{
    gap: 20px;
}

#gig .work h2{
    color: #fff;
    display: inline;
    font-size: 38px;
    position: relative;
    bottom: 20px;
}

.project1{
    background-color: #162f39;
    border: 4px solid transparent;
    border-radius: 15px;
    font: 20px;
    color: #fff;
    transition: 0.3s ease;
    justify-content: center;
    align-items: center;
}

.project1 img{
    border: solid 4px #162f39;
    border-radius: 10px;
    width: 450px;
    overflow: hidden;
    border-width: 80%;
    background-color: #162f39;
}

.project1 p{
    background-color: #162f39;
}

.project1:hover{
    scale: 1.09;
    border-bottom-color: #fff;
}

.toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    display: none;
    position: fixed;
    right: 3%;
}

.dropmenu{
    display: none;
    position: absolute;
    right: 2.5rem;
    top: 125px;
    width: 250px;
    height: 0;
    background-color: #162f39;
    border-radius: 10px;
    overflow: hidden;
    z-index: 200;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropmenu.open{
    height: 400px;
}

.dropmenu ul li a{
    background-color: #162f39;
    display: flex;
    width: 240px;
    height: 12vh;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
}

@media screen and (max-width:856px){
    nav .logo{
        font-size: 13px;
    }
    .dropmenu ul{
        background-color: #162f39;
        gap: 10px;
        display: block;
    }

    .dropmenu{
        display: block;
        position: fixed;
    }
}

@media screen and (max-width:746px){
    nav .toggle_btn{
        display: block;
    }

    nav ul{
        display: none;
    }

}

@media screen and (max-width: 510px){
    nav{
        height: 120px;
    }
    nav .logo{
        font-size: large;
    }
    .page_img{
        position: relative;
        left: 80%;
    }
    .main{
        position: relative;
        align-items: center;
        left: 14em;
        padding: 0;
        margin-left: 0;
        margin: 0;
        width: 27em;
        flex-direction: column;
    }

    .main h5{
        width: 27em;
        justify-content: center;
        align-content: center;
    }

    .main h3{
        width: 9em;
        height: 8em;
        justify-content: center;
        align-content: center;
    }

    #about p{
        margin-top: 20em;
        width: 90%;
    }

    #links.open{
        margin-left: 50%;
    
    }
    .footer{
        width: 90vh;
    }

    .footer p{
        font-size: 20px;
    }

    .project1{
        justify-content: center;
        margin-left: 45%;
        width: 50vh;
        margin-top: 10vh;
    }

    .work h2{
        position: relative;
        margin-top: 32em;
        left: 2em;
    }

    .languages, .programming_lang, .oth{
        flex-direction: column;
    }

    .languages{
        top: 10vh;
        left: 139%;
    }

    .heading2{
        top: 150vh;
    }

    .programming_lang{
        top: 140vh;
        left: 4%;
    }
    
    .heading3{
        top: 160vh;
    }

    .oth{
        top: 105vh;
        right: 33%;
    }
    
    .programming_lang .lang{
        width: 26em;
    }

    .languages .item{
        width: 40em;
    }
    .oth .git{
        width: 26em;
    }

    #about{
        padding-top: 30vh;
        width: 40em;
        justify-content: center;
        padding-left: 50%;
    }

    #about h2{
        top: 270vh;
        position: absolute;
        font-size: 45px;
        left: 8%;
    }

    #about p{
        width: 33em;
        justify-content: center;
    }

    .work h2{
        padding-top: 20vh;
        font-size: 45px;
    }
}

@media screen and (max-width: 380px){
    .heading3{
        display: none;
    }
    #gig .work h2{
        position: absolute;
        padding-top: 0;
        padding-bottom: 60vh;
    }
    .project1{
        width: 100%;
    }
    .footer{
        top: 10vh;
        width: 50em;
        height: 90px;
    }
}

@media screen and (max-width: 360px){
    #gig .work h2{
        display: block;
        padding: 0;
        top: 280vh;
    }
}
